<?xml version="1.0"?>
<!-- 


    C:\inetpub\wwwroot\hiscentral


    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--Testing CORS bypass rules for supporting SwaggerUI for web services-->
  <!-- <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <!--<section name="IWS.Lib.SingleSignOn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowDefinition="Everywhere" requirePermission="false"/>-->
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CUAHSI.cuahsi_1_0" value="http://his02.usu.edu/littlebearriver/cuahsi_1_0.asmx"/>
    <!-- steve   <add key="WebServiceKeyFile" value="~/K9kENLW0.xkey"/>  -->
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailFromAddress" value="hydroseek@gmail.com"/>
    <add key="EmailServerAuthUserName" value="hydroseek@gmail.com"/>
    <add key="EmailServerAuthPassword" value="his4cuahsi"/>
    <add key="EmailFromName" value="Cuahsi HIS Central Administration"/>
    <add key="EmailServerRequireAuth" value="True"/>
    <add key="EmailServerUseSSL" value="True"/>
    <add key="EmailServerPort" value="587"/>
    <add key="HarvesterLogFolder" value="harvester/logs"/>
    <add key="UsageReportFolder" value="UsageReports"/>
    <add key="CUAHSI.cuahsi_1_1" value="http://icewater.usu.edu/littlebearriver/cuahsi_1_1.asmx"/>
  </appSettings>
  <connectionStrings>

    <add name="CentralHISConnectionString" providerName="System.Data.SqlClient" connectionString="Server=p2wat4wc7f.database.windows.net;Database=hiscentral2.1;User ID=hisCentralAdmin;Password=1n$an1tY;Trusted_Connection=False;Encrypt=True;Connection Timeout=0;" />

    <!--<add name="CentralHISConnectionString" providerName="System.Data.SqlClient" connectionString="Server=rgaiz0t58k.database.windows.net;Database=hiscentral_staging;User ID=hisCentralAdmin;Password=f3deratedResearch;Trusted_Connection=False;Encrypt=True;Connection Timeout=0;" />-->

    <!--<add name="CentralHISConnectionString" connectionString="Data Source=p2wat4wc7f.database.windows.net;        Initial Catalog=hiscentral;        User ID=hisCentralAdmin;        Password=f3deratedResearch;        Encrypt=true;        Trusted_Connection=false;" providerName="System.Data.SqlClient" />-->

    <!--Staging server connection string-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=rgaiz0t58k.database.windows.net;Database=hiscentral_users_staging;User ID=hisCentralAdmin;Password=1n$an1tY;Trusted_Connection=False;Encrypt=True;Connection Timeout=0;" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=p2wat4wc7f.database.windows.net;Database=hiscentral_users;User ID=hisCentralAdmin;Password=1n$an1tY;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->

    <!--LOCAL ENTITY FRAMEWORK STRING THAT POINTS TO HISCENTRAL DATABASE-->
    <add name="hiscentralEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=p2wat4wc7f.database.windows.net;initial catalog=hiscentral2.1;integrated security=False;user id=hisCentralAdmin;password=1n$an1tY;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--LOCAL ENTITY FRAMEWORK STRING THAT POINTS TO HISCENTRAL_LOGGING DATABASE ON THE LOGGING SERVER-->
    <!--<add name="hiscentral_loggingEntities" connectionString="metadata=res://*/App_Code.HisCentalLogging.csdl|res://*/App_Code.HisCentalLogging.ssdl|res://*/App_Code.HisCentalLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=p2wat4wc7f.database.windows.net;initial catalog=hiscentral_logging;user id=hiscentralAdmin;password=1n$an1tY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="hiscentral_loggingEntities" connectionString="metadata=res://*/App_Code.HisCentalLogging.csdl|res://*/App_Code.HisCentalLogging.ssdl|res://*/App_Code.HisCentalLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=rgaiz0t58k.database.windows.neet;initial catalog=hiscentral_logging;user id=hisCentralAdmin;password=1n$an1tY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <!--PRODUCTION LOCAL ENTITY FRAMEWORK STRING THAT POINTS TO HISCENTRAL_LOGGING DATABASE ON THE LOGGING SERVER-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
        <httpRuntime targetFramework="4.5" />
      <system.Web>
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <!--<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <!--
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CustomMarshalers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      -->
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/"/>
    </authentication>
    <httpHandlers>
      <!--<remove verb="*" path="*.asmx"/>-->
      <!-- qqqq <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>  -->
      <!-- qqqq  <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/> -->
      <add verb="*" path="*.wfs" type="wfsHandler"/>
      <!--<remove verb="*" path="*.asmx"/>-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <customErrors mode="Off"/>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <!--<security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <!-- <mimeMap fileExtension=".css" mimeType="text/css"/> -->
      <mimeMap fileExtension=".owl" mimeType="text/xml"/>
      <mimeMap fileExtension=".dat" mimeType="text/ascii"/>
      <mimeMap fileExtension=".stc" mimeType="text/ascii"/>
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="me@example.com">
        <network host="mail.example.com" password="example" userName="example"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RecoverPass.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub_services.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub_network.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub_services2.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub_network2.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pub_map.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="maps">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WFS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="geticon.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="getlogo.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="startree.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="getTree.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices">
    <system.web>
      <httpHandlers>
        -->
  <!--<remove verb="*" path="*.asmx"/>-->
  <!--
        -->
  <!--qqqq <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/> -->
  <!--
      </httpHandlers>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StyleSheet.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="startree.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TaggerService.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="applets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="license">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ontology_mar1.stc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>