<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--LOCAL CONNECTION STRING-->
  <!--<add name="HisCentralHarvester2.Properties.Settings.constring" connectionString="Data Source=MMartin-E5430;Initial Catalog=HISCENTRAL;User ID=sa2;Password=r3tn3CDW;Encrypt=false;Trusted_Connection=false;" />-->
  <!--PRODUCTION CONNECTION STRING-->
  <!--<add name="HisCentralHarvester2.Properties.Settings.constring" connectionString="Data Source=n80k4xzb5z.database.windows.net;Initial Catalog=hiscentralazure;User ID=hisCentralAdmin;Password=f3deratedResearch;Encrypt=true;Trusted_Connection=false;" />-->
  <!--STAGING CONNECTION STRING-->
  <!--<add name="HisCentralHarvester2.Properties.Settings.constring" connectionString="Data Source=p2wat4wc7f.database.windows.net;Initial Catalog=hiscentral;User ID=hisCentralAdmin;Password=f3deratedResearch;Encrypt=true;Trusted_Connection=false;" />-->
<add name="HisCentralHarvester2.Properties.Settings.constring" providerName="System.Data.SqlClient" connectionString="Server=drv42dlwsp.database.windows.net;Database=QA_Hiscentral_201_Auth;User ID=hisCentralAdmin;Password=1n$an1tY;Trusted_Connection=False;Encrypt=True;Connection Timeout=0;" />
<!--<add name="HisCentralHarvester2.Properties.Settings.constring" connectionString="Data Source=p2wat4wc7f.database.windows.net;Initial Catalog=hiscentraL2.1;User ID=hisCentralAdmin;Password=1n$an1tY;Encrypt=true;Trusted_Connection=false;" />-->
</connectionStrings>
